@model List<SunsetHotelSystem.Dominio.Entidades.Entidades.TSH_Pag_Facilidades>

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="news-letter">
        <div class="row">
            <div class="w3ls-heading">
                <h3>Modificar P&aacute;ginas</h3>
            </div>
            <div class="agileinfo-subscribe">
                <h5>Facilidades</h5>
                <form action="ActualizarFacilidades" method="post" enctype="multipart/form-data" id="formularioFacilidades">
                    <input type="number" name="facilidadesTotal" id="facilidadesTotal" value="@Model.Count" style="display: none;" />
                    <textarea id="descripcionPagina" name="descripcionPagina">@Model.First().TSH_Pagina.TC_Descripcion_TSH_Pagina</textarea>
                    @{
                        int contador = 1;
                        foreach (var item in Model) {
                            if (item.TN_Borrado_TSH_Pag_Facilidades == 1) {
                                var base64ImagenHotel = Convert.ToBase64String(@item.TI_Imagen_TSH_Pag_Facilidades);
                                string imgSrcImagenFacilidad = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);
                                <div id="row@(contador)" class="row">
                                    <h5>@item.TC_TituloFacilidad_TSH_Pag_Facilidades</h5><br />
                                    <input type="number" name="id@(contador)" id="id@(contador)" value="@item.TN_IdentificadorNumFac_TSH_Pag_Facilidades" style="display: none;" />
                                    <input type="number" name="borrado@(contador)" id="borrado@(contador)" value="@item.TN_Borrado_TSH_Pag_Facilidades" style="display: none;" />
                                    <input type="text" name="tituloFacilidad@(contador)" id="tituloFacilidad@(contador)" value="@item.TC_TituloFacilidad_TSH_Pag_Facilidades" style="display: none;" />
                                    <textarea id="descripcion@(contador)" name="descripcion@(contador)">@item.TC_Descripcion_TSH_Pag_Facilidades</textarea>
                                    <div class="formCenter">
                                        <div class="col-md-5 about-img" style="margin-left: -2%;">
                                            <span>Imagen Actual</span><br />
                                            <img src="@imgSrcImagenFacilidad" alt="Sunset Hotel" />
                                        </div>
                                        <div class="col-md-6">
                                            <br /><br /><br />
                                            <span>Subir imagen nueva</span><br />
                                            <input type="file" name="imagen@(contador)" id="imagen@(contador)" value="@imgSrcImagenFacilidad" accept="image/x-png,image/jpeg,image/jpg">
                                            <br /><br /><br /><br /><br />
                                        </div>
                                        <input type="button" value="Eliminar facilidad" onclick="eliminarFacilidad(@contador);">
                                    </div>
                                </div><br /><br />
                            }//Fin del if.
                            contador = contador + 1;
                        }//Fin del foreach.
                    }
                    <center id="center">
                        <input type="submit" value="Aceptar">
                        <button type="button" data-toggle="modal" data-target="#myModal">Cancelar</button>
                    </center>
                    <div class="clearfix"> </div>
                </form>
                <input type="submit" value="Agregar facilidad" onclick="nuevaFacilidad();">
            </div>
        </div>
    </div>
</article>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Advertencia</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">¿Desea salir sin guardar cambios?</div>
            <form action="Home" method="post">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Si</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>