@model List<SunsetHotelSystem.Dominio.Entidades.Entidades.TSH_Pag_Facilidades>

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>Facilidades</h2>
            </div>
            <div class="w3-about-grids">
                <div class="w3-about-grids">
                    <div class="col-md-12 w3-about-left">
                        <p>@Model.First().TSH_Pagina.TC_Descripcion_TSH_Pagina</p>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />

        @{
            foreach (var item in Model) {
                if (item.TN_Borrado_TSH_Pag_Facilidades == 1) {
                    var base64ImagenHotel = Convert.ToBase64String(@item.TI_Imagen_TSH_Pag_Facilidades);
                    string imgSrcImagenFacilidad = String.Format("data:image/gif;base64,{0}", base64ImagenHotel);
                    <div class="row">
                        <div class="col-4 col-sm-6 col-md-6 w3-about-left">
                            <div class="about-img-grids">
                                <div class="col-md-10 about-img">
                                    <img class="rounded img-fluid" src="@imgSrcImagenFacilidad" alt=" " />
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-sm-6 col-md-6 w3-about-right">
                            <h5>@item.TC_TituloFacilidad_TSH_Pag_Facilidades</h5>
                            <br />
                            <p>@item.TC_Descripcion_TSH_Pag_Facilidades</p>
                        </div>
                    </div>
                    <br /><br />
                }//Fin del if.
            }//Fin del foreach.
        }
    </div>
</article>