@model List<SunsetHotelSystem.Dominio.Entidades.Entidades.TSH_Tipo_Habitacion>

@{
    ViewBag.Title = "ListaHabitaciones";
}

<h1>@ViewBag.Title</h1>

@foreach (var item in Model) {
    <span>ID: @item.TN_Identificador_TSH_Tipo_Habitacion</span><br />
    <span>Nombre: @item.TC_Descripcion_TSH_Tipo_Habitacion</span><br />
    <span>Tarifa: @item.TN_Cantidad_Personas_TSH_Tipo_Habitacion</span><br />
    <span>Cantidad de personas: @item.TN_Cantidad_Personas_TSH_Tipo_Habitacion</span>
}

