@model SunsetHotelSystem.UI.Models.Reserva

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="about">
        <div class="row">
            <div class="w3ls-heading">
                <h2>Listado de Reservaciones</h2>
            </div>
            <div class="w3-about-grids">
                <div class="w3-about-grids">
                    <div class="col-md-12 w3-about-left">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-info">
                                    <th>Id Reserva</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Email</th>
                                    <th>Tarjeta</th>
                                    <th>Transaccion</th>
                                    <th>Fecha llegada</th>
                                    <th>Fecha Salida</th>
                                    <th>Tipo</th>
                                    <th>Ver</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var item in Model.Reservas) {
                                        if (item.TN_Borrado_TSH_Reserva == 1) {
                                            <tr>
                                                <td>@item.TN_Identificador_TSH_Reserva</td>
                                                <td>@item.TSH_Cliente.TC_Nombre_TSH_Cliente</td>
                                                <td>@item.TSH_Cliente.TC_Apellidos_TSH_Cliente</td>
                                                <td>@item.TSH_Cliente.TC_Correo_TSH_Cliente</td>
                                                <td>@item.TSH_Cliente.TC_Tarjeta_TSH_Cliente</td>
                                                <td>@item.TN_Numero_Reserva_TSH_Reserva</td>
                                                <td>@item.TD_Fecha_Ingreso_TSH_Reserva</td>
                                                <td>@item.TD_Fecha_Salida_TSH_Reserva</td>
                                                @foreach (var tipoHabitacion in Model.TipoHabitaciones) {
                                                    if (item.TSH_Habitacion.TN_Id_TipoH_TSH_Habitacion == tipoHabitacion.TN_Identificador_TSH_Tipo_Habitacion) {
                                                        <td>@tipoHabitacion.TC_Titulo_TSH_Tipo_Habitacion</td>
                                                    }
                                                }
                                                <td>@Html.ActionLink("Ver", "MostrarReserva", "Reserva", routeValues: new { idReserva = item.TN_Identificador_TSH_Reserva, idTipoHabitacion = item.TSH_Habitacion.TN_Id_TipoH_TSH_Habitacion }, htmlAttributes: new { @class = "btn btn-success" })</td>
                                                <td>@Html.ActionLink("Eliminar", "EliminarReserva", "Reserva", routeValues: new { idReserva = item.TN_Identificador_TSH_Reserva }, htmlAttributes: new { @class = "btn btn-danger" })</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</article>