@model SunsetHotelSystem.UI.Models.Reserva

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="news-letter">
        <div class="row">
            <div class="w3ls-heading">
                <h3>Listado de Reservaciones - Ver Reserva</h3>
            </div>
            <div class="agileinfo-subscribe">
                <div class="formCenter">
                    <span>ID Reserva:</span>
                    <span>@Model.Reserva_.TN_Identificador_TSH_Reserva</span><br />
                    <span>Nombre:</span>
                    <span>@Model.Reserva_.TSH_Cliente.TC_Nombre_TSH_Cliente</span><br />
                    <span>Apellido:</span>
                    <span>@Model.Reserva_.TSH_Cliente.TC_Apellidos_TSH_Cliente</span><br />
                    <span>Correo:</span>
                    <span>@Model.Reserva_.TSH_Cliente.TC_Correo_TSH_Cliente</span><br />
                    <span>Tarjeta:</span>
                    <span>@Model.Reserva_.TSH_Cliente.TC_Tarjeta_TSH_Cliente</span><br />
                    <span>Transaccion:</span>
                    <span>@Model.Reserva_.TN_Numero_Reserva_TSH_Reserva</span><br />
                    <span>Fecha Llegada:</span>
                    <span>@Model.Reserva_.TD_Fecha_Ingreso_TSH_Reserva</span><br />
                    <span>Fecha Salida:</span>
                    <span>@Model.Reserva_.TD_Fecha_Salida_TSH_Reserva</span><br />
                    <span>Tipo</span>
                    <span>@Model.TipoHabitacionReserva.TC_Titulo_TSH_Tipo_Habitacion</span><br /><br />
                    @Html.ActionLink("Eliminar", "EliminarReserva", "Reserva", routeValues: new { idReserva = Model.Reserva_.TN_Identificador_TSH_Reserva }, htmlAttributes: new { @class = "btn btn-danger" })
                    @Html.ActionLink("Reporte", "GuardarPDF", "Reserva", routeValues: new { idReserva = Model.Reserva_.TN_Identificador_TSH_Reserva }, htmlAttributes: new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>
</article>