@model SunsetHotelSystem.Dominio.Entidades.TSH_Tipo_Habitacion

@{
    var base64ImagenHabitacion = Convert.ToBase64String(Model.TI_Imagen_TSH_Tipo_Habitacion);
    string imgSrcImagenHabitacion = String.Format("data:image/gif;base64,{0}", base64ImagenHabitacion);
}

<article class="col-xs-12 col-sm-8 col-md-9">
    <div class="news-letter">
        <div class="row">
            <div class="w3ls-heading">
                <h3>Modificar P&aacute;ginas</h3>
            </div>
            <div class="agileinfo-subscribe">
                <form action="actualizarHabitacion" method="post" enctype="multipart/form-data">
                    <input type="number" name="id" id="id" value="@Model.TN_Identificador_TSH_Tipo_Habitacion" style="display: none;" />
                    <div class="formCenter2">
                        <input type="text" name="tituloHabitacion" id="tituloHabitacion" value="@Model.TC_Titulo_TSH_Tipo_Habitacion" />
                    </div><br /><br />
                    <div class="formCenter">
                        <span>Tarifa:</span>
                        <input type="number" name="tarifa" id="tarifa" value="@Model.TN_Tarifa_TSH_Tipo_Habitacion"><br>
                    </div><br /><br>
                    <textarea id="descripcion" name="descripcion">@Model.TC_Descripcion_TSH_Tipo_Habitacion</textarea>
                    <div class="formCenter">
                        <div class="col-md-5 about-img" style="margin-left: -2%;">
                            <span>Imagen Actual</span><br />
                            <img src="@imgSrcImagenHabitacion" alt="Sunset Hotel" />
                        </div>
                        <div class="col-md-6">
                            <br /><br /><br />
                            <span>Subir imagen nueva</span><br />
                            <input type="file" name="imagen" id="imagen" value="@imgSrcImagenHabitacion">

                            <br /><br /><br /><br /><br />
                        </div>
                    </div>
                    <center>
                        <input type="submit" value="Aceptar">&nbsp;&nbsp;
                        <button type="button" data-toggle="modal" data-target="#myModal">Cancelar</button>
                    </center>
                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
    </div>
</article>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Advertencia</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">¿Desea salir sin guardar cambios?</div>
            <form action="Home" method="post">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Si</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>